

menu "mm configuration"

config PAGE_OFFSET
    int "memory page offset"
    default 12
    help
      page offset of the system 
      page size is (1 << PAGE_OFFSET) byte
      that means page size must be 2-align byte

endmenu
