menu "module runtime_test"

config RTTEST
    prompt "runtime-test"
    def_bool n
    select TEST_HELLO
    select TEST_INIT_SECTION
    help
      kernel run time test module
      if we open this , all test function will
      be executed

config TEST_HELLO
    prompt "hello test"
    def_bool y
    depends on RTTEST
    help
      hello world test 

config TEST_INIT_SECTION
    prompt "init_sec test"
    def_bool y
    depends on RTTEST
    help
      runtime test for sections (.bss : all 0
      .data : value and so on)

config TEST_LIBSTR
    prompt "lbstr test"
    def_bool y
    depends on RTTEST
    help
      runtime test for lib/string.c

config TEST_LIST_API
    prompt "list api test"
    def_bool y
    depends on RTTEST
    help
      struct list_head api(copied from linux)
      runtime test

config TEST_PAGE_API
    prompt "page api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "mm/page.h"
      if there is api/macro changed , remember
      to add/fix the test code

config TEST_PGFM_API
    prompt "pgfm api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "mm/pageframe.h"
      if there is api/macro changed, remember 
      to add/fix the test code

config TEST_CPU_API
    prompt "cpu api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "aco/cpu.h"
      if there is api/macro changed, remember
      to add/fix the test code

config TEST_MEMBLOCK_API
    prompt "memblock api test"
    def_bool y
    depends on RTTEST
    help 
      test all api/macro used in "mm/memblock_alloc.h"
      if there is api/macro changed, remember
      to add/fix the test code

config TEST_BUDDY_API
    prompt "buddy api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "mm/buddy.h"
      if there is api/macro changed, remember
      to add/fix the test code

config TEST_ATOMIC_API
    prompt "atomic api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "aco/atomic.h"
      if there is api/macro changed, remember
      to add/fix the test code

config TEST_SPINLOCK_API
    prompt "spinlk api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "aco/spinlock.h"
      if there is api/macro changed, remember
      to add/fix the test code

config TEST_RWLOCK_API
    prompt "rwlock api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "aco/rwlock.h"
      if there is api/macro changed, remember
      to add/fix the test code

config TEST_SLAB_API
    prompt "slab api test"
    def_bool y
    depends on RTTEST
    help
      test all api/macro used in "mm/slab.h"
      if there is api/macro changed, remember
      to add/fix the test code

endmenu
