
config RTTEST
    prompt "runtime-test"
    def_bool n
    select TEST_HELLO
    select TEST_INIT_SECTION
    help
      kernel run time test module
      if we open this , all test function will
      be executed

config TEST_HELLO
    prompt "hello test"
    def_bool y
    depends on RTTEST
    help
      hello world test 

config TEST_LIBSTR
    prompt "lbstr test"
    def_bool y
    depends on RTTEST
    help
      runtime test for lib/string.c

config TEST_INIT_SECTION
    prompt "init_sec test"
    def_bool y
    depends on RTTEST
    help
      runtime test for sections (.bss : all 0
      .data : value and so on)
