menu "mm allocators api"

config MEM_BLOCK_ALOCTOR
    bool "mem_block api"
    default n
    help
      open this config, we can use
      mem_block allocator api.
      default not open, we can also
      use its api but do nothing

endmenu
