

config ARCH_RISCV
    bool "riscv arch"
    default y
    select RISCV_INIT_STACK_OPTION
    help
      sign for riscv arch target
      do not change this

config RISCV_INIT_STACK_OPTION
    bool "riscv init stack optional"
    default n
    help
      riscv kernel init stack config,
      this is optional

config RISCV_INIT_STACKSIZE
    int "riscv init stack size"
    default 8192
    depends on RISCV_INIT_STACK_OPTION
    help
      init stack size config

source "arch/$(ARCH)/boot/Kconfig"

#use a menu trick to select ARCH_RISCV
#do not let user to change it
menu "trick"
visible if False
    config TEST_12367612039
        bool "test"
        default y
        select ARCH_RISCV
endmenu

source "arch/$(ARCH)/board/Kconfig"
