
choice
    prompt "riscv board select"
    default QEMU_RV64
    
    config QEMU_RV64
        bool "qemu-virt-rv64"
        help
          riscv64 board , qemu virt
endchoice

### trick menu
### not visible

menu "trick"
visible if False
    config DTS_PATH
        string "dts abs path"
        default "$(src_tree)/arch/$(ARCH)/board/qemu_rv64" if QEMU_RV64

endmenu
