menu "mm configuration"

config PAGE_OFFSET
    int "memory page offset"
    default 12
    help
      page offset of the system 
      page size is (1 << PAGE_OFFSET) byte
      that means page size must be 2-align byte

config MEM_BLOCK_ALOCTOR
    bool "mem_block api"
    default n
    help
      open this config, we can use
      mem_block allocator api.
      default not open, we can also
      use its api but do nothing

source "mem/buddy/Kconfig"

endmenu
